html {
  font-size: 62%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Sans Sara', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #10103d;
  overflow: hidden;
  display: block;
  color:rgb(110, 108, 108) ;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}